.mensaje{
    padding: 100px;
    background: #de5b00;
}
.mensaje__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
}
.mensaje__item{
    max-width: 300px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2.5rem 0 2rem 5rem;
    background-position: top 1rem left 1rem;

}
.mensaje__logo{

    height: 100px;
    width: 100px;
}
.mensaje__logo2{

    height: 100px;
    width: 100px;
}
.mensaje__logo3{

    height: 100px;
    width: 100px;
}
.mensaje__item__titulo{
    color: cadetblue;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;


}
.mensaje__item__texto{
    line-height: normal;
    font-family: 'Montserrat',sans-serif;
}
.mensaje__item_mensaje__logo {
    display: flex;
    align-items: center; 
    gap: 20px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
}